img{
    border-radius: 3%;
    width: 100%;
    max-height: 100vh;
    margin: auto;
}
body{
    background: rgb(0,0,0);
    padding: 0;
    margin:0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(1,18,65,1) 50%, rgba(0,0,0,1) 100%);
    line-height: 1.8;
}
#CenterText{
    position: absolute;
    opacity: 80%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    top: 25%;
    left: 45%;
    background-color: #fff;
    align-content: center;
    font-size: 30px;
    font-family:fantasy;
}

#CenterData{
    position: absolute;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    top: 50%;
    left: 42.5%;
    color: #fff;
    align-content: center;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#menu1{

    margin-bottom: 10%;
}

#portfolio{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    background: #232323;
}

#AboutMeText{
    position: absolute;
    background: #232323;
    border-radius: 20px;
    width: 40%;
    height: 400px;
    left: 50%;
    top: 120%;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
#AboutMeTitle{
    left: 50%;

    color: #fff;
    font-family: 'Poppins',sans-serif;
}

#AboutMeIMG{
    margin-top: 20px;
    left: 10%;
}

#IMGCaption{
    color: #232323;
}